/*
CSS: Cascade Style Sheets

Selectores en CSS
Te dicen a qué elemento de HTML voy a aplicar los estilos.

1. Etiqueta HTML: h1{color:red} div{} No mata nada.

2. Clase: Va a afectar a todos los elementos de la clase, ej:
class=".nombre-clase". Class superior a etiqueta, grupal. Mata la etiqueta.

3. ID: afecta elemento con ID. Para JS. Mata lo que sea.

4. Pseudo-clases: codigo interno. Afecta elementos según 
posición y estado.

Especificidad y Cascada

width total = width + padding + border
padding: x2 si solo hay un numero
border: x2 si solo hay un numero
margin: up right down left

Unidades de medida
Forma de definición del tamaño en CSS: 
width, height, text, spaces

Em: relativo al padre 2em, doble de...
%: dependiente del tamaño del padre
Px: absoluta, the only one

Orden:
1. Contenido
2. Padding
3. Border
4. Margin

Tipografía
Lo que controla lo que se ve en pantalla
1. Tipo de letra
2. Tamaño
3. Grosor
4. Espaciado
5. Alineación

En proyectos de alta demanda, el 70% es texto
font-family: tipo de letra
font-size: tamaño de letra. Se usa rem, porque se basa en el root, html.
1 rem = tamaño de referencia base del root
font-weight: grosor, bold. 100-900
line-height: espaciado entre líneas
text-align: posicionamiento, alineación, aunque se usa flex
text-transform: transformar, ej capitalze
letter-spacing: espacio entre letras

*/

body{
    font-family: 'Courier New', Courier, monospace;
}

.texto h1{
    font-size: 2rem;
    line-height: 5;
    text-align: center;
    letter-spacing: 2px;
}

.texto p{
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}
