/*
CSS: Cascade Style Sheets

Selectores en CSS
Te dicen a qué elemento de HTML voy a aplicar los estilos.

1. Etiqueta HTML: h1{color:rojo} div{} No mata nada.

2. Clase: Va a afectar a todos los elementos de la clase, ej:
class=".nombre-clase". Class superior a etiqueta, grupal. Mata la etiqueta.

3. ID: afecta elemento con ID. Para JS. Mata lo que sea.

4. Pseudo-clases: codigo interno. Afecta elementos según 
posición y estado.

Especificidad y Cascada

width total = width + padding + border
padding: x2 si solo hay un numero
border: x2 si solo hay un numero
margin: up right down left

Unidades de medida
Forma de definición del tamaño en CSS: 
width, height, text, spaces

Em: relativo al padre 2em, doble de...
%: dependiente del tamaño del padre
Px: absoluta, the only one

Orden:
1. Contenido, background
2. Padding
3. Border
4. Margin

Tipografía
Lo que controla lo que se ve en pantalla
1. Tipo de letra
2. Tamaño
3. Grosor
4. Espaciado
5. Alineación

En proyectos de alta demanda, el 70% es texto
font-family: tipo de letra
font-size: tamaño de letra. Se usa rem, porque se basa en el root, html.
1 rem = tamaño de referencia base del root
font-weight: grosor, bold. 100-900
line-height: espaciado entre líneas
text-align: posicionamiento, alineación, aunque se usa flex
text-transform: transformar, ej capitalze
letter-spacing: espacio entre letras

Pseudoclases y variables se comenta
*/

body{
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    margin: 0;
}

.header{
    text-align: center;
    background-color: rgb(255, 241, 224);
    padding: 80px 20px;
}

.header h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.header p{
    font-size: 1.3rem;
}

.mainPhrase{
    text-align: center;
    padding: 60px 30px;
}

.mainPhrase h2{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.mainPhrase p{
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

.mensajes{
    padding: 60px 30px;
    background-color: rgb(255, 241, 224);
}

.mensajes article{
    max-width: 800px;
    margin: 0 auto 40px;
}

.mensajes h3{
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.mensajes p{
    font-size: 1.2rem;
    line-height: 1.5;
}

.cita{
    text-align: center;
    background-color: beige;
    padding: 70px;
}

.cita p{
    font-size: 1.5rem;
    font-style: italic;
    letter-spacing: 1.3;
}

.footer{
    text-align: center;
    font-size: 0.8rem;
    background-color:rgb(255, 241, 224);
    padding: 20px;
}
